parameters:
  ignoreErrors:
    -
      message: "#^Property Derhansen\\\\PlainFaq\\\\Domain\\\\Model\\\\Faq\\:\\:\\$images \\(iterable\\<TYPO3\\\\CMS\\\\Extbase\\\\Domain\\\\Model\\\\FileReference\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 1
      path: Classes/Domain/Model/Faq.php
    -
      message: "#^Property Derhansen\\\\PlainFaq\\\\Domain\\\\Model\\\\Faq\\:\\:\\$files \\(iterable\\<TYPO3\\\\CMS\\\\Extbase\\\\Domain\\\\Model\\\\FileReference\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 1
      path: Classes/Domain/Model/Faq.php
    -
      message: "#^Property Derhansen\\\\PlainFaq\\\\Domain\\\\Model\\\\Faq\\:\\:\\$related \\(iterable\\<Derhansen\\\\PlainFaq\\\\Domain\\\\Model\\\\Faq\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 1
      path: Classes/Domain/Model/Faq.php
    -
      message: "#^Property Derhansen\\\\PlainFaq\\\\Domain\\\\Model\\\\Faq\\:\\:\\$categories \\(iterable\\<TYPO3\\\\CMS\\\\Extbase\\\\Domain\\\\Model\\\\Category\\>&TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\) does not accept TYPO3\\\\CMS\\\\Extbase\\\\Persistence\\\\ObjectStorage\\.$#"
      count: 2
      path: Classes/Domain/Model/Faq.php
