.plainfaq-table {
    border: 0;
    margin: 0;
}

.plainfaq-table th {
    width: 25%;
    font-weight: bold;
    vertical-align: top;
}

.plainfaq-table > thead > tr > th,
.plainfaq-table > tbody > tr > th,
.plainfaq-table > tfoot > tr > th {
    vertical-align: top;
}